[mysqld]
pid-file                      = /var/run/mysqld/mysqld.pid
socket                        = /var/run/mysqld/mysqld.sock
datadir                       = /var/lib/mysql
secure-file-priv              = NULL

log-error                     = /var/log/mysqld.log
character-set-server          = utf8mb4
collation-server              = utf8mb4_bin
default_authentication_plugin = mysql_native_password

[mysql]
default-character-set         = utf8mb4
